<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">
        <!-- single checkbox -->
        <!--<div>판매 여부</div>
        <div>
            <div class="form-check">
                <input type="checkbox" id="open" name="open" class="form-check-input">
                &lt;!&ndash;
                    히든 필드로 _open을 넣어야 하는 이유
                    check box의 경우 체크를 할경우 true로 정상적으로 들어오지만
                    체크를 하지 않을 경우 아무런 값도 들어오지 않게 된다 때문에 open 변수가 false 가 아닌
                    null값으로 지정되기 때문에 문제가 발생한다

                    이때 _open을 사용하게 된다면 체크를 했을 경우 _open을 무시하고 true값을 정상적으로 넣어주고
                    체크를 하지 않았을 경우에 _open 값이 있는것을 확인하고 open값을 null이 아닌 false 로 변경시켜준다

                    이 기능은 스프링이 지원하는 기능이다

                    좀더 자세히
                    사용자가 의도적으로 체크되어 있던 값을 체크 해제해도 저장시 아무런 값이 넘어가지 않기 때문에
                    체크되어있던 값이 체크 해제되었는지 아니면 아무것도 건드리지 않은건지 알 수 있는 방법이 없다
                    때문에 체크박스에서는 히든필드 사용이 필수적이다.
                &ndash;&gt;
                <input type="hidden" name="_open" value="on"/> &lt;!&ndash; 히든 필드 추가 &ndash;&gt;
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>-->
        <!-- 타임리프 사용 -->
        <div>판매 여부</div>
        <div>
            <div class="form-check">
                <!--
                    타임리프의 th:field로 checkbox 설정시
                    위의 주석과 같이 _open 히든 필드가 자동으로 추가된다
                -->
                <input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}"
                       class="form-check-input">
                <label th:for="${#ids.prev('regions')}"
                       th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>

        <!-- radio button -->
        <div>
            <div>상품 종류</div>
            <!--
                enum ${itemTypes} =>  ${T(hello.itemservice.domain.item.ItemType).values()} 대체 가능
                다만, 패키지 이동시 수정하기 쉽지 않아 권장하지 않음
            -->
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <!--
                    라디오 버튼은 채크 박스와 다르게 하나만 선택 가능
                    type.name() (enum.name()) 시 enum의 이름을 그대로 반환
                    type.description은 따로 getter를 추가해야 프로퍼티 접근법으로 사용가능
                    (enum 자체의 기본 기능이 아니기 때문)

                    라디오 버튼은 th:field 즉 타임리프를 사용하더라도 히든필드가 자동 생성되지않는다
                    때문에 선택을 하지 않았을때 null값이 들어온다

                    라디오 버튼은 한번 채크를 하면 변경은 가능하지만 아예 값을 뺄수가 없다
                    때문에 채크 박스처럼 null을 고려할 필요가 없다
                    라디오 값이 변경이 있을 경우 null값이 올일이 없기 때문
                -->
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}"
                       class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}"
                       class="form-check-label">
                    BOOK
                </label>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>